{% extends "layout.html" %}
{% block content %}

<style>
  #WebGL-output {
  /* set margin to 0 and overflow to hidden, to go fullscreen */
  margin: 0;
  overflow: hidden;
  background-color: #000000;
  }

  body{
  overflow: hidden;
  }

  #Stats-output {
  position: fixed;
  bottom: 0px;
  left:0px;
  }
</style>

<script type="text/javascript" src="/static/dems.js"></script>
<script type="text/javascript" src="/static/gpx_test.js"></script>

<div id="Stats-output"></div>
<div id="WebGL-output"></div>

<!-- Javascript code -->
<script type="text/javascript" src="/static/js/nabewari_delaunay.js"></script>

{% endblock %}
