{% extends "layout.html" %}
{% block content %}

<style>
  .overlay {
  fill: none;
  pointer-events: all;
  }
  .vertical {
  stroke: #777;
  stroke-width: 1;
  }
  .focus circle {
  fill: none;
  stroke: steelblue;
  }
  .focus text {
  font-size: 80%;
  }
  .horizontal {
  float: left;
  }

</style>

<svg id="line_chart" class="horizontal"></svg>
<div id="leaflet_map" class="horizontal" style="width: 400px; height: 560px; margin: 20px"></div>

<!-- Javascript code -->
<script type="text/javascript" src="/static/js/graph.js"></script>

{% endblock %}
