{% extends "layout.html" %}
{% block content %}

<style type="text/css">
  div.card-deck {
  margin: 30px;
  }
</style>

<div class="card-deck">
  <div class="card">
    <a href="#hoge">
      <img class="card-img-top" src="/static/std.jpg" alt="Card image cap">
    </a>
    <div class="card-body">
      <h4 class="card-title">Standard Map</h4>
      <p class="card-text">This is a longer card.</p>
      <a href="#" class="btn btn-outline-secondary">Open</a>
    </div>
  </div>
  <div class="card">
    <a href="#hoge">
      <img class="card-img-top" src="/static/hill.jpg" alt="Card image cap">
    </a>
    <div class="card-body">
      <h4 class="card-title">Hill Shade Map</h4>
      <p class="card-text">This card has supporting text.</p>
      <a href="#" class="btn btn-outline-secondary">Open</a>
    </div>
  </div>
  <div class="card">
    <a href="#hoge">
      <img class="card-img-top" src="/static/relief.jpg" alt="Card image cap">
    </a>
    <div class="card-body">
      <h4 class="card-title">Relief Map</h4>
      <p class="card-text">This is a wider card.</p>
      <a href="#" class="btn btn-outline-secondary">Open</a>
    </div>
  </div>
</div>



<div class="card-deck">
  <div class="card">
    <a href="/points">
      <img class="card-img-top" src="/static/three_nabewari.png" alt="Card image cap">
    </a>
    <div class="card-body">
      <h4 class="card-title">3D Point Cloud</h4>
      <p class="card-text">This is a longer card.</p>
      <a href="/points" class="btn btn-outline-secondary">Open</a>
    </div>
  </div>
  <div class="card">
    <a href="/wireframe">
      <img class="card-img-top" src="/static/hill.jpg" alt="Card image cap">
    </a>
    <div class="card-body">
      <h4 class="card-title">3D Wire Frame</h4>
      <p class="card-text">This card has supporting text.</p>
      <a href="/wireframe" class="btn btn-outline-secondary">Open</a>
    </div>
  </div>
  <div class="card">
    <a href="/gpx">
      <img class="card-img-top" src="/static/relief.jpg" alt="Card image cap">
    </a>
    <div class="card-body">
      <h4 class="card-title">GPX</h4>
      <p class="card-text">This is a wider card.</p>
      <a href="/gpx" class="btn btn-outline-secondary">Open</a>
    </div>
  </div>
</div>

<div class="card-deck">
  <div class="card">
    <a href="/delaunay">
      <img class="card-img-top" src="/static/three_nabewari.png" alt="Card image cap">
    </a>
    <div class="card-body">
      <h4 class="card-title">Delaunay</h4>
      <p class="card-text">Delaunay triangulation</p>
      <a href="/delaunay" class="btn btn-outline-secondary">Open</a>
    </div>
  </div>
  <div class="card">
    <a href="/sprite">
      <img class="card-img-top" src="/static/hill.jpg" alt="Card image cap">
    </a>
    <div class="card-body">
      <h4 class="card-title">Sprite + Wire Frame</h4>
      <p class="card-text">This card has supporting text.</p>
      <a href="/sprite" class="btn btn-outline-secondary">Open</a>
    </div>
  </div>
  <div class="card">
    <a href="/heatmap">
      <img class="card-img-top" src="/static/relief.jpg" alt="Card image cap">
    </a>
    <div class="card-body">
      <h4 class="card-title">Heat map</h4>
      <p class="card-text">This is a wider card.</p>
      <a href="/heatmap" class="btn btn-outline-secondary">Open</a>
    </div>
  </div>
</div>


{% endblock %}
