{% extends "layout.html" %}
{% block content %}

<h3>Leaflet Test</h3>


<div id="leaflet_map" style="width: 1200px; height: 900px;"></div>

<script type="text/javascript" src="/static/bokka_route.geojson"></script>
<script>
var leaflet_map = L.map('leaflet_map').setView([35.443905,139.141607], 15);

L.tileLayer('http://cyberjapandata.gsi.go.jp/xyz/std/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://maps.gsi.go.jp/development/ichiran.html">地理院タイル</a> contributors'
}).addTo(leaflet_map);

L.marker([35.443905,139.141607]).addTo(leaflet_map)
    .bindPopup('Nabewari hut<br><img width="150" src="/static/bokka_num/nabewari.JPG"><br>')




L.geoJSON(bokka).addTo(leaflet_map);
</script>

{% endblock %}
